root = true # impede herança de configs externas

[*]
charset = utf-8 # encoding padrão
end_of_line = lf # fim de linha, evita CRLF do Windows
indent_style = space # estilo de indentação, usa espaços
indent_size = 2 # tamanho da indentação, 2 espaços
insert_final_newline = true # insere nova linha no final, quebra linha no final
trim_trailing_whitespace = true # remove espaços em branco no final, remove espaços sobrando
